<div class="main border-2	">
  <h1 class="text-3xl font-bold underline">Registration form</h1>
  <div class="input-field">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

   <p>{{loginForm.value | json}}</p>
  Name:
  <input placeholder="Full Name" formControlName="name">
 
  <br>
  Password
  <input placeholder="password" formControlName="password">
  <br>
  Confirm Password
  <input placeholder="confirm password" formControlName="confirmPassword">
  <br>
  Gender:
  <br>
    <input type="radio" name="gender" value="male" checked="checked" formControlName="gender">
    <label for="html">Male</label><br>
    <input type="radio" name="gender" value="female" formControlName="gender">
    <label for="css">Female</label><br>

     <input  type="checkbox" name="terms" value="terms" formControlName="terms">
  <label > Agree All terms and Conditons</label><br>

  <button type="submit">Submit</button>
</form>
</div>
</div>


<!-- 
name:
email
password 
confirm password
gender(radio)
agree terms -->